body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:0px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:60px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:60px;
}
#u2 {
  position:absolute;
  left:2px;
  top:22px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
}
#u3_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u4 {
  position:absolute;
  left:10px;
  top:10px;
  width:100px;
  height:25px;
}
#u4_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u5 {
  position:absolute;
  left:20px;
  top:20px;
  width:100px;
  height:25px;
}
#u5_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u6 {
  position:absolute;
  left:30px;
  top:30px;
  width:100px;
  height:25px;
}
#u6_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u7 {
  position:absolute;
  left:40px;
  top:40px;
  width:100px;
  height:25px;
}
#u7_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:100px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:100px;
}
#u10 {
  position:absolute;
  left:2px;
  top:42px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:10px;
  top:12px;
  width:100px;
  height:25px;
}
#u11_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u12 {
  position:absolute;
  left:118px;
  top:18px;
  width:32px;
  height:16px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:16px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:211px;
  top:13px;
  width:100px;
  height:25px;
}
#u14_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u15 {
  position:absolute;
  left:0px;
  top:50px;
  width:200px;
  height:200px;
  overflow:hidden;
}
#u15_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:200px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u15_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u16 {
  position:absolute;
  left:101px;
  top:117px;
  width:100px;
  height:16px;
}
#u17 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u18 {
  position:absolute;
  left:111px;
  top:127px;
  width:100px;
  height:16px;
}
#u19 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u20 {
  position:absolute;
  left:121px;
  top:137px;
  width:100px;
  height:16px;
}
#u21 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u22 {
  position:absolute;
  left:131px;
  top:147px;
  width:100px;
  height:16px;
}
#u23 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u24 {
  position:absolute;
  left:141px;
  top:157px;
  width:100px;
  height:16px;
}
#u25 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u26 {
  position:absolute;
  left:144px;
  top:64px;
  width:40px;
  height:16px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:10px;
  top:150px;
  width:100px;
  height:25px;
}
#u28_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u29 {
  position:absolute;
  left:160px;
  top:150px;
  width:100px;
  height:25px;
}
#u29_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u30 {
  position:absolute;
  left:160px;
  top:280px;
  width:100px;
  height:25px;
}
#u30_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
body.a {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:static;
  left:auto;
  width:320px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u0.a {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:480px;
}
#u1.a {
  height:480px;
}
#u1_img.a {
  height:480px;
}
#u2.a {
  top:232px;
}
#u3.a {
  position:absolute;
  left:0px;
  top:420px;
  width:64px;
  height:60px;
}
#u3_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:60px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u4.a {
  position:absolute;
  left:64px;
  top:420px;
  width:64px;
  height:60px;
}
#u4_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:60px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u5.a {
  position:absolute;
  left:128px;
  top:420px;
  width:64px;
  height:60px;
}
#u5_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:60px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u6.a {
  position:absolute;
  left:192px;
  top:420px;
  width:64px;
  height:60px;
}
#u6_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:60px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u7.a {
  position:absolute;
  left:256px;
  top:420px;
  width:64px;
  height:60px;
}
#u7_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:60px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u8.a {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:50px;
}
#u9.a {
  width:320px;
  height:50px;
}
#u9_img.a {
  width:320px;
  height:50px;
}
#u10.a {
  top:17px;
  width:316px;
}
#u11.a {
  position:absolute;
  left:10px;
  top:14px;
  width:70px;
  height:23px;
}
#u11_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:23px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u12.a {
  left:119px;
  top:14px;
  width:82px;
  height:22px;
}
#u12_img.a {
  width:82px;
  height:22px;
}
#u13.a {
  width:82px;
}
#u14.a {
  position:absolute;
  left:240px;
  top:13px;
  width:71px;
  height:25px;
}
#u14_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u15.a {
  position:absolute;
  left:0px;
  top:55px;
  width:320px;
  height:90px;
}
#u15_state0.a {
  width:320px;
  height:90px;
  background-color:rgba(255, 255, 255, 0);
  background-image:none;
}
#u16.a {
  left:117px;
  top:119px;
  width:9px;
}
#u16_input.a {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u17.a {
  width:1px;
}
#u18.a {
  left:136px;
  top:119px;
  width:9px;
}
#u18_input.a {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u19.a {
  width:1px;
}
#u20.a {
  left:156px;
  top:119px;
  width:9px;
}
#u20_input.a {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u21.a {
  width:1px;
}
#u22.a {
  left:174px;
  top:119px;
  width:9px;
}
#u22_input.a {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u23.a {
  width:1px;
}
#u24.a {
  left:193px;
  top:119px;
  width:9px;
}
#u24_input.a {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u25.a {
  width:1px;
}
#u26.a {
  top:69px;
}
#u26_img.a {
}
#u27.a {
}
#u28.a {
  position:absolute;
  left:10px;
  top:155px;
  width:140px;
  height:260px;
}
#u28_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:260px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u29.a {
  position:absolute;
  left:160px;
  top:155px;
  width:151px;
  height:130px;
}
#u29_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:130px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u30.a {
  position:absolute;
  left:160px;
  top:295px;
  width:151px;
  height:120px;
}
#u30_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:120px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
