body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:320px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:480px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:480px;
}
#u2 {
  position:absolute;
  left:2px;
  top:232px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:100px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:100px;
}
#u4 {
  position:absolute;
  left:2px;
  top:42px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:211px;
  top:13px;
  width:100px;
  height:25px;
}
#u5_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u6 {
  position:absolute;
  left:130px;
  top:14px;
  width:61px;
  height:23px;
  font-size:20px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:23px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:0px;
  top:60px;
}
#u8_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u8_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:80px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:80px;
}
#u10 {
  position:absolute;
  left:2px;
  top:32px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:12px;
  top:12px;
  width:128px;
  height:55px;
  font-size:48px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:55px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  white-space:nowrap;
}
#u13 {
  position:absolute;
  left:210px;
  top:28px;
  width:100px;
  height:25px;
}
#u13_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u14 {
  position:absolute;
  left:0px;
  top:150px;
}
#u14_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u14_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:80px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:80px;
}
#u16 {
  position:absolute;
  left:2px;
  top:32px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:12px;
  top:12px;
  width:128px;
  height:55px;
  font-size:48px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:55px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  white-space:nowrap;
}
#u19 {
  position:absolute;
  left:210px;
  top:28px;
  width:100px;
  height:25px;
}
#u19_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u20 {
  position:absolute;
  left:0px;
  top:240px;
}
#u20_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u20_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:80px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:80px;
}
#u22 {
  position:absolute;
  left:2px;
  top:32px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:12px;
  top:12px;
  width:128px;
  height:55px;
  font-size:48px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:55px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  white-space:nowrap;
}
#u25 {
  position:absolute;
  left:210px;
  top:28px;
  width:100px;
  height:25px;
}
#u25_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u26 {
  position:absolute;
  left:210px;
  top:14px;
  width:100px;
  height:25px;
}
#u26_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
body.a {  background-color:rgba(255, 255, 255, 1);
  background-image:none;
  position:static;
  left:auto;
  width:320px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#u0.a {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:480px;
}
#u1.a {
}
#u3.a {
  width:320px;
  height:50px;
}
#u3_img.a {
  width:320px;
  height:50px;
}
#u4.a {
  top:17px;
  width:316px;
}
#u5.a {
  position:absolute;
  left:10px;
  top:12px;
  width:71px;
  height:25px;
}
#u5_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u6.a {
}
#u6_img.a {
}
#u7.a {
}
#u8.a {
  position:absolute;
  left:0px;
  top:60px;
}
#u9.a {
}
#u11.a {
}
#u11_img.a {
}
#u12.a {
}
#u13.a {
  position:absolute;
  left:210px;
  top:28px;
  width:100px;
  height:25px;
}
#u13_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u14.a {
  position:absolute;
  left:0px;
  top:150px;
}
#u15.a {
}
#u17.a {
}
#u17_img.a {
}
#u18.a {
}
#u19.a {
  position:absolute;
  left:210px;
  top:28px;
  width:100px;
  height:25px;
}
#u19_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u20.a {
  position:absolute;
  left:0px;
  top:240px;
}
#u21.a {
}
#u23.a {
}
#u23_img.a {
}
#u24.a {
}
#u25.a {
  position:absolute;
  left:210px;
  top:28px;
  width:100px;
  height:25px;
}
#u25_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u26.a {
  position:absolute;
  left:210px;
  top:14px;
  width:100px;
  height:25px;
}
#u26_input.a {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
